#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 34 positions: A..Z then modifiers (LCTRL..RGUI) */
            bindings = <
                &kp X  &kp B  &kp C  &kp D  &kp E  &kp F  &kp G  &kp H  &kp I
                &kp J  &kp K  &kp L  &kp M  &kp N  &kp O  &kp P  &kp Q  &kp R
                &kp S  &kp T  &kp U  &kp V  &kp W  &kp X  &kp Y  &kp Z
                &kp LCTRL &kp LSHIFT &kp LALT &kp LGUI &kp RCTRL &kp RSHIFT &kp RALT &kp RGUI
            >;
        };
    };
